@model DataLayer.tb_TRATHIETBI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_TRATHIETBI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYYEUCAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYYEUCAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYTRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYHIENTAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYHIENTAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_NGUOIDUNG.TENNGUOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_NGUOIDUNG.TENNGUOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_NHANVIEN.HOVATEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_NHANVIEN.HOVATEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_THIETBI.TENTHIETBI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_THIETBI.TENTHIETBI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TBReturnID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
