@model DataLayer.tb_LOAITHIETBI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_LOAITHIETBI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENLOAITHIETBI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAITHIETBI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNGUOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNGUOIDUNG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLOAITHIETBI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
